---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sikkert og Wisth - Sterke meninger på svakt grunnlag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class=" w-screen bg-[url('/src/assets/code.svg')] bg-cover object-contain m-auto">
    <header class="flex bg-white p-2 shadow-md"> <img class="w-16 h-16 my-3" src="src\assets\a_plus.png">
    <nav class=" flex space-x-9 justify-center m-auto p-8 "> 
      <ul class="  flex  space-x-9">
      <li class="hover:border-b-2 border-orange-400"><a href="#">Hjem</a> </li>
      <li class="hover:border-b-2 border-orange-400"><a href="#">Synsing</a> </li>
       <li class="hover:border-b-2 border-orange-400"><a href="#">Kontakt meg</a> </li>
  </ul>
    </nav>
      
    </header>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <footer class="mt-6 text-center">
      <p class="justify-center"> Bygget med <a class="text-orange-400 hover:decoration-solid" href="http://astro.build"> astro</a> og ❤</p>

    </footer>
  
  
  </body>
</html>